* {
    box-sizing: border-box;
}

.slide {
    display: none;
}

.previous, .next {
    cursor: pointer;
}

.previous:hover, .next:hover {
    background-color: darkgray;
}

.dot {
    cursor: pointer;
}

.active, dot:hover {
    background-color: darkgray;
}