* {
    box-sizing: border-box;
}

[data-component="slideshow"].slide {
    display: none;
}

[data-component="slideshow"].slide.active {
    display: block;
}

.caption {
    position: absolute;
    top: 89%;
    left: 45%;
    color: rgb(228, 228, 228);
}

.previous {
    cursor: pointer;
    position: absolute;
    top: 48%;
    left: 14%;
    color: rgb(228, 228, 228);
}

.next {
    cursor: pointer;
    position: absolute;
    top: 48%;
    right: 14%;
    color: rgb(228, 228, 228);
}

.previous:hover, .next:hover {
    height: 30px;
    width: 30px;
    background-color: rgb(15, 15, 15);
}

.dot {
    height: 15px;
    width: 15px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    cursor: pointer;
    background-color: gray;
}
