* {
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    margin-top: 0px;
}

.carousel-container {
    background-size: contain;
    resize: both;
    width: 1000px;
    height: 375px;
    position: relative;
    margin: 0 auto;
}

.navigation .prev {
    user-select: none;
    color: white;
    position: absolute;
    z-index: 10;
    font-size: 30px;
    top: 40%;
    left: 8px;
    font-weight: 700;
}

.navigation .next {
    user-select: none;
    color: white;
    right: 8px;
    position: absolute;
    font-size: 30px;
    z-index: 10;
    top: 40%;
}

.navigation .nav-btn {
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    border-radius: 10%;
    width: 35px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.navigation .nav-btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.carousel {
    margin-top: 0;
}

.carousel img {
    width: 100%;
    border: 8px solid white;
}

.image {
    width: 100%;
    height: auto; 
    position: absolute;
    display: none;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0.3;}
    100% {opacity: 1;}
}

.main {
    display: block; 
}

.slideIndex {
    position: absolute;
    top: 17px;
    left: 17px;    
    display: flex;
    font-size: 14px;
    justify-content: left;    
    color: rgb(255, 255, 255);   
    height: 35px;
}

.caption {
    position: absolute;
    bottom: 16px;
    width: 100%;
    display: flex;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);   
    height: 35px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: darkgray;
    border-radius: 50%;
    display: inline-block;
    animation: fadeIn 12s;
}

.dotActive {
    height: 15px;
    width: 15px;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
    display: inline-block;
    animation: fadeIn 1s;
}

.dot:hover {
    cursor: pointer;
    background-color: rgb(99, 99, 99);
    animation: fadeIn 1s;
}

.dot:active {
    background-color: rgb(99, 99, 99);
    animation: fadeIn 1s;
}
